In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

neighborhood_df = pd.read_csv('red_neighborhood_Baltimore_data.csv')
baltimore_df = pd.read_csv('redfin_Baltimore_zip_data.csv')

print(neighborhood_df.columns)
print(baltimore_df.columns)

Index(['Unnamed: 0', 'period_begin', 'period_end', 'period_duration',
       'region_type', 'region_type_id', 'table_id', 'is_seasonally_adjusted',
       'region', 'Neighborhood', 'city', 'state', 'state_code',
       'property_type', 'property_type_id', 'median_sale_price',
       'median_sale_price_mom', 'median_sale_price_yoy', 'median_list_price',
       'median_list_price_mom', 'median_list_price_yoy', 'median_ppsf',
       'median_ppsf_mom', 'median_ppsf_yoy', 'median_list_ppsf',
       'median_list_ppsf_mom', 'median_list_ppsf_yoy', 'homes_sold',
       'homes_sold_mom', 'homes_sold_yoy', 'pending_sales',
       'pending_sales_mom', 'pending_sales_yoy', 'new_listings',
       'new_listings_mom', 'new_listings_yoy', 'inventory', 'inventory_mom',
       'inventory_yoy', 'months_of_supply', 'months_of_supply_mom',
       'months_of_supply_yoy', 'median_dom', 'median_dom_mom',
       'median_dom_yoy', 'avg_sale_to_list', 'avg_sale_to_list_mom',
       'avg_sale_to_list_yoy', 'sold_above_list', 'sold_above_list_mom',
       'sold_above_list_yoy', 'price_drops', 'price_drops_mom',
       'price_drops_yoy', 'off_market_in_two_weeks',
       'off_market_in_two_weeks_mom', 'off_market_in_two_weeks_yoy',
       'parent_metro_region', 'parent_metro_region_metro_code',
       'last_updated'],
      dtype='object')
Index(['Unnamed: 0', 'period_begin', 'period_end', 'zip', 'state',
       'property_type', 'property_type_id', 'median_sale_price',
       'median_sale_price_mom', 'median_sale_price_yoy', 'median_list_price',
       'median_list_price_mom', 'median_list_price_yoy', 'median_ppsf',
       'median_ppsf_mom', 'median_ppsf_yoy', 'median_list_ppsf',
       'median_list_ppsf_mom', 'median_list_ppsf_yoy', 'homes_sold',
       'homes_sold_mom', 'homes_sold_yoy', 'pending_sales',
       'pending_sales_mom', 'pending_sales_yoy', 'new_listings',
       'new_listings_mom', 'new_listings_yoy', 'inventory', 'inventory_mom',
       'inventory_yoy', 'median_dom', 'median_dom_mom', 'median_dom_yoy',
       'avg_sale_to_list', 'avg_sale_to_list_mom', 'avg_sale_to_list_yoy',
       'sold_above_list', 'sold_above_list_mom', 'sold_above_list_yoy',
       'off_market_in_two_weeks', 'off_market_in_two_weeks_mom',
       'off_market_in_two_weeks_yoy', 'year'],
      dtype='object')

In [3]:
print(neighborhood_df.head(5))
print(baltimore_df.head(5))

   Unnamed: 0 period_begin period_end  period_duration   region_type  \
0          47     4/1/2018  6/30/2018               90  neighborhood
1          58     4/1/2020  6/30/2020               90  neighborhood
2         239     1/1/2021  3/31/2021               90  neighborhood
3         377    11/1/2016  1/31/2017               90  neighborhood
4         437     6/1/2016  8/31/2016               90  neighborhood

   region_type_id  table_id is_seasonally_adjusted         region  \
0               1      1542                      f  Baltimore, MD
1               1    181851                      f  Baltimore, MD
2               1      2577                      f  Baltimore, MD
3               1    182245                      f  Baltimore, MD
4               1      2293                      f  Baltimore, MD

             Neighborhood  ... sold_above_list_yoy price_drops  \
0            Little Italy  ...            0.000000         NaN
1       O'Donnell Heights  ...                 NaN         NaN
2  Southwestern Baltimore  ...            0.051007         NaN
3        Towanda-Grantley  ...            0.000000         NaN
4               Riverside  ...            0.037644         NaN

  price_drops_mom price_drops_yoy  off_market_in_two_weeks  \
0             NaN             NaN                      NaN
1             NaN             NaN                      NaN
2             NaN             NaN                 0.462264
3             NaN             NaN                      NaN
4             NaN             NaN                 0.461538

   off_market_in_two_weeks_mom  off_market_in_two_weeks_yoy  \
0                          NaN                          NaN
1                          NaN                          NaN
2                    -0.140009                     0.099945
3                          NaN                          NaN
4                     0.049774                     0.149038

   parent_metro_region  parent_metro_region_metro_code     last_updated
0        Baltimore, MD                           12580  3/13/2022 14:34
1        Baltimore, MD                           12580  3/13/2022 14:34
2        Baltimore, MD                           12580  3/13/2022 14:34
3        Baltimore, MD                           12580  3/13/2022 14:34
4        Baltimore, MD                           12580  3/13/2022 14:34

[5 rows x 60 columns]
   Unnamed: 0 period_begin  period_end    zip     state  \
0           0    10/1/2017  12/31/2017  20711  Maryland
1           1     6/1/2016   8/31/2016  20711  Maryland
2           2     7/1/2018   9/30/2018  20711  Maryland
3           3    12/1/2020   2/28/2021  20711  Maryland
4           4     7/1/2014   9/30/2014  20711  Maryland

               property_type  property_type_id  median_sale_price  \
0            All Residential                -1           400000.0
1  Single Family Residential                 6           365000.0
2  Single Family Residential                 6           575000.0
3  Single Family Residential                 6           445750.0
4  Single Family Residential                 6           370000.0

   median_sale_price_mom  median_sale_price_yoy  ...  avg_sale_to_list  \
0               0.556420              -0.139785  ...          0.989934
1              -0.365217              -0.184357  ...          0.984973
2              -0.025424               0.337209  ...          0.996516
3              -0.146890              -0.056614  ...          1.002202
4               0.086637               0.000000  ...          0.965015

   avg_sale_to_list_mom  avg_sale_to_list_yoy  sold_above_list  \
0             -0.029751              0.021335         0.181818
1              0.008466             -0.000439         0.076923
2             -0.006612             -0.003303         0.076923
3              0.013480              0.032392         0.214286
4              0.009364              0.002468         0.133333

   sold_above_list_mom  sold_above_list_yoy  off_market_in_two_weeks  \
0            -0.068182             0.104895                      NaN
1            -0.013986            -0.023077                     0.25
2            -0.137363            -0.076923                     0.25
3            -0.007937             0.214286                     0.50
4             0.070833             0.066667                     0.20

   off_market_in_two_weeks_mom  off_market_in_two_weeks_yoy  year
0                          NaN                          NaN  2017
1                        -0.75                    -0.750000  2016
2                        -0.25                    -0.416667  2018
3                         0.50                     0.300000  2020
4                         0.20                     0.200000  2014

[5 rows x 44 columns]

In [4]:
neighborhood_df.describe(include='all')
baltimore_df.describe(include='all')

,Unnamed: 0,period_begin,period_end,zip,state,property_type,property_type_id,median_sale_price,median_sale_price_mom,median_sale_price_yoy,...,avg_sale_to_list,avg_sale_to_list_mom,avg_sale_to_list_yoy,sold_above_list,sold_above_list_mom,sold_above_list_yoy,off_market_in_two_weeks,off_market_in_two_weeks_mom,off_market_in_two_weeks_yoy,year
count,56115.000000,56115,56115,56115.000000,56115,56115,56115.000000,5.611500e+04,54839.000000,52977.000000,...,56034.000000,54761.000000,52904.000000,56115.000000,54839.000000,52977.000000,48032.000000,44484.000000,43864.000000,56115.000000
unique,NaN,120,120,NaN,1,5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,11/1/2021,1/31/2022,NaN,Maryland,All Residential,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,492,492,NaN,56115,17300,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,28057.000000,NaN,NaN,21174.904981,NaN,NaN,4.739856,3.112002e+05,0.025420,0.109084,...,0.981871,0.000383,0.005903,0.203855,0.002325,0.030484,0.404369,0.001204,0.027436,2016.565268
std,16199.149515,NaN,NaN,227.672766,NaN,NaN,4.995233,2.026022e+05,0.533598,0.779720,...,0.047990,0.028358,0.051693,0.182007,0.110761,0.195757,0.271641,0.322487,0.330350,2.866316
min,0.000000,NaN,NaN,20711.000000,NaN,NaN,-1.000000,3.000000e+03,-0.981137,-0.971989,...,0.500000,-0.815374,-1.147984,0.000000,-1.000000,-1.000000,0.000000,-1.000000,-1.000000,2012.000000
25%,14028.500000,NaN,NaN,21050.000000,NaN,NaN,-1.000000,1.899925e+05,-0.031250,-0.047120,...,0.968290,-0.004926,-0.007323,0.082316,-0.026570,-0.037594,0.230769,-0.155556,-0.133333,2014.000000
50%,28057.000000,NaN,NaN,21152.000000,NaN,NaN,6.000000,2.775000e+05,0.000000,0.043717,...,0.982906,0.000000,0.004704,0.181818,0.000000,0.012987,0.400000,0.000000,0.000000,2017.000000
75%,42085.500000,NaN,NaN,21225.000000,NaN,NaN,6.000000,3.910445e+05,0.041307,0.148025,...,0.995954,0.005721,0.018247,0.280702,0.031484,0.102339,0.555556,0.155556,0.193856,2019.000000
max,56114.000000,NaN,NaN,21797.000000,NaN,NaN,13.000000,3.750000e+06,68.166667,68.833333,...,1.995714,1.122833,1.046532,1.000000,1.000000,1.000000,1.200000,1.000000,1.000000,2021.000000